<a href="https://colab.research.google.com/github/wjunior83/statsmodels/blob/master/Lista_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importando bibliotecas
import pandas as pd
import statsmodels.api as sm
import math

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
#Lendo arquivo cadastral
cadastral = pd.read_excel('/content/cadastral.xlsx')

In [4]:
#1 - Tire uma tabela de frequência na variável Sexo
cadastral["Sexo"].value_counts()

Masculino    514
Feminino     432
Name: Sexo, dtype: int64

In [5]:
#2 - Ordenar o arquivo pela variável ID
cadastral.sort_values(by='ID')

      ID DataNascimento       Sexo  ...  TempodeResidencia       Conta  salario
0      1     1952-02-03  Masculino  ...                  7  Particular   5700.0
473    1     1952-02-03  Masculino  ...                  7  Particular   5700.0
1      2     1958-05-23  Masculino  ...                 43  Particular   4020.0
474    2     1958-05-23  Masculino  ...                 43  Particular   4020.0
2      3     1929-07-26   Feminino  ...                  7     empresa   2145.0
..   ...            ...        ...  ...                ...         ...      ...
470  472     1966-02-21  Masculino  ...                  9  Particular   3915.0
944  473     1937-11-25   Feminino  ...                 29     empresa   2145.0
471  473     1937-11-25   Feminino  ...                 29     empresa   2145.0
472  474     1968-11-05   Feminino  ...                 12     empresa   2940.0
945  474     1968-11-05   Feminino  ...                 12     empresa   2940.0

[946 rows x 9 columns]

In [6]:
#6 - Verifique se a variável salario é numérica
cadastral["salario"].dtypes

dtype('float64')

In [7]:
#7 - Mostre o mínimo e o máximo da variável salario
cadastral["salario"].describe()

count      946.000000
mean      3441.844609
std       1708.467635
min       1575.000000
25%       2400.000000
50%       2880.000000
75%       3705.000000
max      13500.000000
Name: salario, dtype: float64

In [9]:
#8 - criando as quebras
bins = [1574,3000,5000,7000,13500]

In [10]:
#8 - criando as labels
grupo = ['faixa1','faixa2','faixa3','faixa4']

In [11]:
#8 - Crie uma variável faixa de salario com as seguintes quebras: 1574, 3000, 5000, 7000, 13500
cadastral["Fx_Salarial"] = pd.cut(cadastral['salario'], bins, labels = grupo)
cadastral.head()

   ID DataNascimento       Sexo  ...       Conta  salario  Fx_Salarial
0   1     1952-02-03  Masculino  ...  Particular   5700.0       faixa3
1   2     1958-05-23  Masculino  ...  Particular   4020.0       faixa2
2   3     1929-07-26   Feminino  ...     empresa   2145.0       faixa1
3   4     1947-04-15   Feminino  ...     empresa   2190.0       faixa1
4   5     1955-02-09  Masculino  ...  Particular   4500.0       faixa2

[5 rows x 10 columns]

In [12]:
#Lendo arquivo transacional
transacional = pd.read_excel('/content/transacional.xlsx')
transacional.head()

   ID     default  default1  QtdaParcelas Atraso  ValorEmprestimo  QtdaPagas
0   1  Adimplente         0            19    Sim              665          6
1   2  Adimplente         0            33    Não              950         11
2   3  Adimplente         0            20    Não              700          6
3   4  Adimplente         0            21    Sim              735          7
4   5  Adimplente         0            18    Sim              630          6

In [13]:
#11 - Crie um arquivo chamado consolidado e faça uma união dos arquivos cadastral e Transacional através do Left join
consolidado = pd.merge(cadastral, transacional, on='ID', how='left', indicator=True)
consolidado.head()

   ID DataNascimento       Sexo  ...  ValorEmprestimo  QtdaPagas  _merge
0   1     1952-02-03  Masculino  ...              665          6    both
1   2     1958-05-23  Masculino  ...              950         11    both
2   3     1929-07-26   Feminino  ...              700          6    both
3   4     1947-04-15   Feminino  ...              735          7    both
4   5     1955-02-09  Masculino  ...              630          6    both

[5 rows x 17 columns]

In [26]:
#12 - Crie uma variável comprometimento de renda usando as variáveis ValorEmprestimo e Salario.  Para isso utilize a expressão. (ValorEmprestimo / salario)*100
consolidado['Compr_Renda'] = (consolidado['ValorEmprestimo']/consolidado['salario'])*100
consolidado.head()

   ID DataNascimento       Sexo  ...  QtdaPagas  _merge  Compr_Renda
0   1     1952-02-03  Masculino  ...          6    both    11.666667
1   2     1958-05-23  Masculino  ...         11    both    23.631841
2   3     1929-07-26   Feminino  ...          6    both    32.634033
3   4     1947-04-15   Feminino  ...          7    both    33.561644
4   5     1955-02-09  Masculino  ...          6    both    14.000000

[5 rows x 18 columns]

In [27]:
#12 - Quantas variáveis ficaram no arquivo?
len(consolidado.columns)

18

In [28]:
#13 - Tire uma frequência separadamente das variáveis Sexo e default. Quantos Homens , Mulheres, Adimplente e Inadimplente possui. Os valores precisam ser mostrados separadamente.
consolidado['Sexo'].value_counts()

Masculino    514
Feminino     432
Name: Sexo, dtype: int64

In [29]:
#13 - Tire uma frequência separadamente das variáveis Sexo e default. Quantos Homens , Mulheres, Adimplente e Inadimplente possui. Os valores precisam ser mostrados separadamente.
consolidado['default'].value_counts()

Inadimplente    686
Adimplente      260
Name: default, dtype: int64

In [30]:
#14 - Faça uma estatística Bivariada utilizando a função CrossTable ente Sexo e default
pd.crosstab(consolidado.Sexo,consolidado.default)

default    Adimplente  Inadimplente
Sexo
Feminino           98           334
Masculino         162           352

In [65]:
#15 - Faça um modelo regressão logística e apresente o resultado

In [36]:
#x = consolidado[['TempodeServiço','NumerodeFilhos','TempodeResidencia','salario','QtdaParcelas','ValorEmprestimo','QtdaPagas','Compr_Renda']]
x = consolidado[['QtdaParcelas','Compr_Renda']]
x.head()

   QtdaParcelas  Compr_Renda
0            19    11.666667
1            33    23.631841
2            20    32.634033
3            21    33.561644
4            18    14.000000

In [37]:
x = sm.add_constant(x)
x.head()

   const  QtdaParcelas  Compr_Renda
0    1.0            19    11.666667
1    1.0            33    23.631841
2    1.0            20    32.634033
3    1.0            21    33.561644
4    1.0            18    14.000000

In [38]:
y = consolidado['default1']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: default1, dtype: int64

In [39]:
logistico = sm.Logit(y,x)

In [40]:
ajuste = logistico.fit()

Optimization terminated successfully.
         Current function value: 0.563180
         Iterations 5

In [43]:
ajuste.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               default1   No. Observations:                  946
Model:                          Logit   Df Residuals:                      943
Method:                           MLE   Df Model:                            2
Date:                Tue, 27 Oct 2020   Pseudo R-squ.:                 0.04224
Time:                        13:25:40   Log-Likelihood:                -532.77
converged:                       True   LL-Null:                       -556.26
Covariance Type:            nonrobust   LLR p-value:                 6.260e-11
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const            2.6507      0.374      7.086      0.000       1.918       3.384
QtdaParcelas    -0.1178      0.018     -6.406      0.000      -0.154      -0.082
Compr_Renda      0.0378      0.008      4.764      0.000       0.022       0.053
================================================================================
"""

In [44]:
prob = logistico.predict(ajuste.params)

In [45]:
prob

array([0.70149413, 0.4153725 , 0.82191136, 0.80948462, 0.74276528,
       0.7395227 , 0.70447755, 0.84237494, 0.64820772, 0.73546572,
       0.77610041, 0.78586113, 0.75196352, 0.56192716, 0.80274653,
       0.75303696, 0.7884913 , 0.50641691, 0.71529203, 0.68243169,
       0.49310822, 0.70811139, 0.59780142, 0.82337319, 0.7808946 ,
       0.63338839, 0.73525396, 0.60221185, 0.46105635, 0.7973543 ,
       0.78093402, 0.52788307, 0.40900933, 0.51659159, 0.52846016,
       0.61297015, 0.78198978, 0.64814845, 0.53487176, 0.73866225,
       0.7953965 , 0.75576828, 0.77752559, 0.75543892, 0.78678707,
       0.83156697, 0.57296259, 0.77398339, 0.67636804, 0.63303609,
       0.70660403, 0.64939709, 0.61178182, 0.66878963, 0.79322821,
       0.82565193, 0.73057188, 0.65060096, 0.77539989, 0.79848296,
       0.83870387, 0.6402313 , 0.59916239, 0.512738  , 0.76133059,
       0.65347305, 0.62596491, 0.54297719, 0.68212967, 0.68316862,
       0.60179368, 0.44026364, 0.74934479, 0.80077422, 0.83798   ,
       0.79337444, 0.71205244, 0.67426052, 0.74193683, 0.63159658,
       0.7786897 , 0.64413077, 0.70008819, 0.79446392, 0.75308079,
       0.79569292, 0.81067176, 0.58955098, 0.28995411, 0.8649497 ,
       0.80289962, 0.79177257, 0.79933949, 0.74107001, 0.81898262,
       0.61862061, 0.54744431, 0.77753891, 0.82542242, 0.40741699,
       0.58623041, 0.7395153 , 0.53791968, 0.74097174, 0.75616079,
       0.51732957, 0.66669692, 0.80942786, 0.78806441, 0.81956457,
       0.56451933, 0.78678707, 0.48377573, 0.47999964, 0.74776938,
       0.64021926, 0.83064712, 0.62812012, 0.73487918, 0.79029525,
       0.84644818, 0.6561089 , 0.73346903, 0.69322142, 0.71339343,
       0.66559367, 0.50883681, 0.84458983, 0.57113843, 0.16172702,
       0.62942126, 0.65506943, 0.5776847 , 0.62315778, 0.72452367,
       0.74660901, 0.50523766, 0.70105074, 0.80289962, 0.80551365,
       0.51839229, 0.78507464, 0.74264986, 0.88474601, 0.72026443,
       0.71048471, 0.7941785 , 0.73510711, 0.76577864, 0.7894038 ,
       0.61983715, 0.77398339, 0.79493893, 0.77540718, 0.6738128 ,
       0.81628112, 0.78454636, 0.75196352, 0.71043854, 0.66742707,
       0.74575727, 0.606319  , 0.75988328, 0.79269256, 0.77666803,
       0.81817032, 0.8466828 , 0.58005616, 0.64768664, 0.83643611,
       0.74690408, 0.76533697, 0.57032133, 0.81840776, 0.75058003,
       0.55724284, 0.74677891, 0.8770003 , 0.75951372, 0.83007113,
       0.6989644 , 0.84940738, 0.61407357, 0.81441557, 0.63608733,
       0.81699606, 0.61309816, 0.78598262, 0.72105713, 0.6679712 ,
       0.83706426, 0.80856276, 0.75169641, 0.76875835, 0.61926119,
       0.81782792, 0.57673263, 0.74370859, 0.58717228, 0.6654463 ,
       0.75490014, 0.65169962, 0.75634248, 0.74911738, 0.55042934,
       0.76101782, 0.7915449 , 0.73546572, 0.80666046, 0.79962891,
       0.77025067, 0.69384837, 0.65320256, 0.8310171 , 0.86061979,
       0.69083024, 0.74269314, 0.6961079 , 0.81315767, 0.76533697,
       0.79177257, 0.69610581, 0.69753773, 0.89182883, 0.79117031,
       0.80749817, 0.68164836, 0.83999313, 0.84639443, 0.70730093,
       0.68659085, 0.74157509, 0.7481195 , 0.74910783, 0.51194256,
       0.7789709 , 0.75175069, 0.84299659, 0.66567259, 0.79295306,
       0.84440664, 0.76856028, 0.79911179, 0.74252821, 0.69197716,
       0.7502509 , 0.80856276, 0.80814993, 0.63251486, 0.78665385,
       0.75746958, 0.83157956, 0.83771484, 0.66464507, 0.74761315,
       0.60678619, 0.65179347, 0.82317954, 0.80063714, 0.82320608,
       0.81573989, 0.73200834, 0.71886763, 0.85525214, 0.80636144,
       0.71174393, 0.80840912, 0.81452273, 0.77002075, 0.70296297,
       0.7771712 , 0.70832499, 0.79001738, 0.64830333, 0.73057188,
       0.54933289, 0.4885588 , 0.86251261, 0.76621495, 0.79654704,
       0.67810257, 0.83142689, 0.59605815, 0.41535546, 0.73238728,
       0.77039167, 0.66742793, 0.77383901, 0.52955295, 0.6921019 ,
       0.63761915, 0.84761241, 0.69690058, 0.84500425, 0.77036958,
       0.81557424, 0.79662466, 0.71577585, 0.6385088 , 0.73510711,
       0.69693202, 0.80551365, 0.52092254, 0.80024142, 0.68623919,
       0.81078442, 0.59107821, 0.74320091, 0.7749374 , 0.63000817,
       0.80421188, 0.79039928, 0.77900421, 0.77826648, 0.75806024,
       0.69610581, 0.72491356, 0.7521832 , 0.712023  , 0.7990371 ,
       0.74867451, 0.81332721, 0.82215234, 0.69872914, 0.86655487,
       0.79201597, 0.8058325 , 0.68498239, 0.65077354, 0.70041137,
       0.6632847 , 0.81545169, 0.68216819, 0.79866493, 0.69392452,
       0.78658137, 0.75182534, 0.83405537, 0.78387198, 0.84331323,
       0.61175267, 0.82762406, 0.48037722, 0.7382492 , 0.75745185,
       0.85927866, 0.72260781, 0.79060247, 0.72872464, 0.77666338,
       0.76383136, 0.76142388, 0.64939689, 0.79736714, 0.74045722,
       0.76096768, 0.78155613, 0.81470907, 0.79656564, 0.8155869 ,
       0.70170575, 0.86493462, 0.72235986, 0.83884763, 0.81355593,
       0.79654704, 0.84002877, 0.79844494, 0.78745288, 0.62926067,
       0.59168454, 0.84617876, 0.81332721, 0.74082068, 0.68413059,
       0.76533697, 0.82291427, 0.85901545, 0.83785665, 0.84094555,
       0.80427697, 0.80190848, 0.62990827, 0.77540718, 0.59087832,
       0.82931738, 0.60121848, 0.76374895, 0.57430765, 0.84634782,
       0.76621495, 0.72228453, 0.7509101 , 0.80563123, 0.78346583,
       0.84912214, 0.74802684, 0.76141196, 0.78168227, 0.85555506,
       0.726818  , 0.86955709, 0.79756419, 0.82843275, 0.83089017,
       0.51668239, 0.65710089, 0.58493328, 0.66967425, 0.78253661,
       0.81701593, 0.81995174, 0.61474068, 0.81234811, 0.67747474,
       0.74007372, 0.71360466, 0.69897559, 0.75454234, 0.66232187,
       0.66432643, 0.79238316, 0.82430951, 0.66517862, 0.79375079,
       0.78990839, 0.78646566, 0.72536114, 0.65975265, 0.66709113,
       0.71293302, 0.68623919, 0.74736876, 0.75424571, 0.76312052,
       0.7749374 , 0.65721211, 0.73322237, 0.84634782, 0.77177736,
       0.76614017, 0.78495834, 0.84503186, 0.73639406, 0.38107439,
       0.6579518 , 0.88336278, 0.59317379, 0.74228058, 0.68916041,
       0.77109213, 0.73030102, 0.76968698, 0.55041468, 0.77714926,
       0.71175046, 0.73349207, 0.81083045, 0.74252821, 0.75497242,
       0.67862786, 0.7955518 , 0.68183638, 0.53284623, 0.81573989,
       0.67124572, 0.75884808, 0.73487918, 0.78646566, 0.77388668,
       0.65378898, 0.81355593, 0.76776528, 0.70149413, 0.4153725 ,
       0.82191136, 0.80948462, 0.74276528, 0.7395227 , 0.70447755,
       0.84237494, 0.64820772, 0.73546572, 0.77610041, 0.78586113,
       0.75196352, 0.56192716, 0.80274653, 0.75303696, 0.7884913 ,
       0.50641691, 0.71529203, 0.68243169, 0.49310822, 0.70811139,
       0.59780142, 0.82337319, 0.7808946 , 0.63338839, 0.73525396,
       0.60221185, 0.46105635, 0.7973543 , 0.78093402, 0.52788307,
       0.40900933, 0.51659159, 0.52846016, 0.61297015, 0.78198978,
       0.64814845, 0.53487176, 0.73866225, 0.7953965 , 0.75576828,
       0.77752559, 0.75543892, 0.78678707, 0.83156697, 0.57296259,
       0.77398339, 0.67636804, 0.63303609, 0.70660403, 0.64939709,
       0.61178182, 0.66878963, 0.79322821, 0.82565193, 0.73057188,
       0.65060096, 0.77539989, 0.79848296, 0.83870387, 0.6402313 ,
       0.59916239, 0.512738  , 0.76133059, 0.65347305, 0.62596491,
       0.54297719, 0.68212967, 0.68316862, 0.60179368, 0.44026364,
       0.74934479, 0.80077422, 0.83798   , 0.79337444, 0.71205244,
       0.67426052, 0.74193683, 0.63159658, 0.7786897 , 0.64413077,
       0.70008819, 0.79446392, 0.75308079, 0.79569292, 0.81067176,
       0.58955098, 0.28995411, 0.8649497 , 0.80289962, 0.79177257,
       0.79933949, 0.74107001, 0.81898262, 0.61862061, 0.54744431,
       0.77753891, 0.82542242, 0.40741699, 0.58623041, 0.7395153 ,
       0.53791968, 0.74097174, 0.75616079, 0.51732957, 0.66669692,
       0.80942786, 0.78806441, 0.81956457, 0.56451933, 0.78678707,
       0.48377573, 0.47999964, 0.74776938, 0.64021926, 0.83064712,
       0.62812012, 0.73487918, 0.79029525, 0.84644818, 0.6561089 ,
       0.73346903, 0.69322142, 0.71339343, 0.66559367, 0.50883681,
       0.84458983, 0.57113843, 0.16172702, 0.62942126, 0.65506943,
       0.5776847 , 0.62315778, 0.72452367, 0.74660901, 0.50523766,
       0.70105074, 0.80289962, 0.80551365, 0.51839229, 0.78507464,
       0.74264986, 0.88474601, 0.72026443, 0.71048471, 0.7941785 ,
       0.73510711, 0.76577864, 0.7894038 , 0.61983715, 0.77398339,
       0.79493893, 0.77540718, 0.6738128 , 0.81628112, 0.78454636,
       0.75196352, 0.71043854, 0.66742707, 0.74575727, 0.606319  ,
       0.75988328, 0.79269256, 0.77666803, 0.81817032, 0.8466828 ,
       0.58005616, 0.64768664, 0.83643611, 0.74690408, 0.76533697,
       0.57032133, 0.81840776, 0.75058003, 0.55724284, 0.74677891,
       0.8770003 , 0.75951372, 0.83007113, 0.6989644 , 0.84940738,
       0.61407357, 0.81441557, 0.63608733, 0.81699606, 0.61309816,
       0.78598262, 0.72105713, 0.6679712 , 0.83706426, 0.80856276,
       0.75169641, 0.76875835, 0.61926119, 0.81782792, 0.57673263,
       0.74370859, 0.58717228, 0.6654463 , 0.75490014, 0.65169962,
       0.75634248, 0.74911738, 0.55042934, 0.76101782, 0.7915449 ,
       0.73546572, 0.80666046, 0.79962891, 0.77025067, 0.69384837,
       0.65320256, 0.8310171 , 0.86061979, 0.69083024, 0.74269314,
       0.6961079 , 0.81315767, 0.76533697, 0.79177257, 0.69610581,
       0.69753773, 0.89182883, 0.79117031, 0.80749817, 0.68164836,
       0.83999313, 0.84639443, 0.70730093, 0.68659085, 0.74157509,
       0.7481195 , 0.74910783, 0.51194256, 0.7789709 , 0.75175069,
       0.84299659, 0.66567259, 0.79295306, 0.84440664, 0.76856028,
       0.79911179, 0.74252821, 0.69197716, 0.7502509 , 0.80856276,
       0.80814993, 0.63251486, 0.78665385, 0.75746958, 0.83157956,
       0.83771484, 0.66464507, 0.74761315, 0.60678619, 0.65179347,
       0.82317954, 0.80063714, 0.82320608, 0.81573989, 0.73200834,
       0.71886763, 0.85525214, 0.80636144, 0.71174393, 0.80840912,
       0.81452273, 0.77002075, 0.70296297, 0.7771712 , 0.70832499,
       0.79001738, 0.64830333, 0.73057188, 0.54933289, 0.4885588 ,
       0.86251261, 0.76621495, 0.79654704, 0.67810257, 0.83142689,
       0.59605815, 0.41535546, 0.73238728, 0.77039167, 0.66742793,
       0.77383901, 0.52955295, 0.6921019 , 0.63761915, 0.84761241,
       0.69690058, 0.84500425, 0.77036958, 0.81557424, 0.79662466,
       0.71577585, 0.6385088 , 0.73510711, 0.69693202, 0.80551365,
       0.52092254, 0.80024142, 0.68623919, 0.81078442, 0.59107821,
       0.74320091, 0.7749374 , 0.63000817, 0.80421188, 0.79039928,
       0.77900421, 0.77826648, 0.75806024, 0.69610581, 0.72491356,
       0.7521832 , 0.712023  , 0.7990371 , 0.74867451, 0.81332721,
       0.82215234, 0.69872914, 0.86655487, 0.79201597, 0.8058325 ,
       0.68498239, 0.65077354, 0.70041137, 0.6632847 , 0.81545169,
       0.68216819, 0.79866493, 0.69392452, 0.78658137, 0.75182534,
       0.83405537, 0.78387198, 0.84331323, 0.61175267, 0.82762406,
       0.48037722, 0.7382492 , 0.75745185, 0.85927866, 0.72260781,
       0.79060247, 0.72872464, 0.77666338, 0.76383136, 0.76142388,
       0.64939689, 0.79736714, 0.74045722, 0.76096768, 0.78155613,
       0.81470907, 0.79656564, 0.8155869 , 0.70170575, 0.86493462,
       0.72235986, 0.83884763, 0.81355593, 0.79654704, 0.84002877,
       0.79844494, 0.78745288, 0.62926067, 0.59168454, 0.84617876,
       0.81332721, 0.74082068, 0.68413059, 0.76533697, 0.82291427,
       0.85901545, 0.83785665, 0.84094555, 0.80427697, 0.80190848,
       0.62990827, 0.77540718, 0.59087832, 0.82931738, 0.60121848,
       0.76374895, 0.57430765, 0.84634782, 0.76621495, 0.72228453,
       0.7509101 , 0.80563123, 0.78346583, 0.84912214, 0.74802684,
       0.76141196, 0.78168227, 0.85555506, 0.726818  , 0.86955709,
       0.79756419, 0.82843275, 0.83089017, 0.51668239, 0.65710089,
       0.58493328, 0.66967425, 0.78253661, 0.81701593, 0.81995174,
       0.61474068, 0.81234811, 0.67747474, 0.74007372, 0.71360466,
       0.69897559, 0.75454234, 0.66232187, 0.66432643, 0.79238316,
       0.82430951, 0.66517862, 0.79375079, 0.78990839, 0.78646566,
       0.72536114, 0.65975265, 0.66709113, 0.71293302, 0.68623919,
       0.74736876, 0.75424571, 0.76312052, 0.7749374 , 0.65721211,
       0.73322237, 0.84634782, 0.77177736, 0.76614017, 0.78495834,
       0.84503186, 0.73639406, 0.38107439, 0.6579518 , 0.88336278,
       0.59317379, 0.74228058, 0.68916041, 0.77109213, 0.73030102,
       0.76968698, 0.55041468, 0.77714926, 0.71175046, 0.73349207,
       0.81083045, 0.74252821, 0.75497242, 0.67862786, 0.7955518 ,
       0.68183638, 0.53284623, 0.81573989, 0.67124572, 0.75884808,
       0.73487918, 0.78646566, 0.77388668, 0.65378898, 0.81355593,
       0.76776528])

In [47]:
consolidado['prob'] = prob

In [49]:
consolidado.head()

   ID DataNascimento       Sexo  ...  _merge  Compr_Renda      prob
0   1     1952-02-03  Masculino  ...    both    11.666667  0.701494
1   2     1958-05-23  Masculino  ...    both    23.631841  0.415373
2   3     1929-07-26   Feminino  ...    both    32.634033  0.821911
3   4     1947-04-15   Feminino  ...    both    33.561644  0.809485
4   5     1955-02-09  Masculino  ...    both    14.000000  0.742765

[5 rows x 19 columns]

In [52]:
lista_temp = []
for i in range(len(consolidado)):
  if consolidado ['prob'][i] >= 0.5:
    lista_temp.append(1)
  else:
    lista_temp.append(0)

In [53]:
consolidado['classificacao'] = lista_temp

In [55]:
consolidado.head()

   ID DataNascimento       Sexo  ...  Compr_Renda      prob  classificacao
0   1     1952-02-03  Masculino  ...    11.666667  0.701494              1
1   2     1958-05-23  Masculino  ...    23.631841  0.415373              0
2   3     1929-07-26   Feminino  ...    32.634033  0.821911              1
3   4     1947-04-15   Feminino  ...    33.561644  0.809485              1
4   5     1955-02-09  Masculino  ...    14.000000  0.742765              1

[5 rows x 20 columns]

In [57]:
pd.crosstab(consolidado.default1, consolidado.classificacao)

classificacao   0    1
default1
0              20  240
1               8  678

In [58]:
(678+20) / (946)

0.7378435517970402