<a href="https://colab.research.google.com/github/wjunior83/statsmodels/blob/master/Lista_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importando bibliotecas
import pandas as pd
import statsmodels.api as sm
import math

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
#Lendo arquivo cadastral
cadastral = pd.read_excel('/content/cadastral.xlsx')

In [11]:
#1 - Tire uma tabela de frequência na variável Sexo
cadastral["Sexo"].value_counts()

Masculino    514
Feminino     432
Name: Sexo, dtype: int64

In [13]:
#2 - Ordenar o arquivo pela variável ID
cadastral.sort_values(by='ID')

      ID DataNascimento       Sexo  ...  TempodeResidencia       Conta  salario
0      1     1952-02-03  Masculino  ...                  7  Particular   5700.0
473    1     1952-02-03  Masculino  ...                  7  Particular   5700.0
1      2     1958-05-23  Masculino  ...                 43  Particular   4020.0
474    2     1958-05-23  Masculino  ...                 43  Particular   4020.0
2      3     1929-07-26   Feminino  ...                  7     empresa   2145.0
..   ...            ...        ...  ...                ...         ...      ...
470  472     1966-02-21  Masculino  ...                  9  Particular   3915.0
944  473     1937-11-25   Feminino  ...                 29     empresa   2145.0
471  473     1937-11-25   Feminino  ...                 29     empresa   2145.0
472  474     1968-11-05   Feminino  ...                 12     empresa   2940.0
945  474     1968-11-05   Feminino  ...                 12     empresa   2940.0

[946 rows x 9 columns]

In [17]:
#6 - Verifique se a variável salario é numérica
cadastral["salario"].dtypes

dtype('float64')

In [34]:
#7 - Mostre o mínimo e o máximo da variável salario
cadastral["salario"].describe()

count      946.000000
mean      3441.844609
std       1708.467635
min       1575.000000
25%       2400.000000
50%       2880.000000
75%       3705.000000
max      13500.000000
Name: salario, dtype: float64

In [36]:
#8 - criando as quebras
bins = [1574,3000,5000,7000,13500]

In [39]:
#8 - criando as labels
grupo = ['faixa1','faixa2','faixa3','faixa4']

In [41]:
#8 - Crie uma variável faixa de salario com as seguintes quebras: 1574, 3000, 5000, 7000, 13500
cadastral["Fx_Salarial"] = pd.cut(cadastral['salario'], bins, labels = grupo)
cadastral.head()

   ID DataNascimento       Sexo  ...       Conta  salario  Fx_Salarial
0   1     1952-02-03  Masculino  ...  Particular   5700.0       faixa3
1   2     1958-05-23  Masculino  ...  Particular   4020.0       faixa2
2   3     1929-07-26   Feminino  ...     empresa   2145.0       faixa1
3   4     1947-04-15   Feminino  ...     empresa   2190.0       faixa1
4   5     1955-02-09  Masculino  ...  Particular   4500.0       faixa2

[5 rows x 10 columns]

In [44]:
#Lendo arquivo transacional
transacional = pd.read_excel('/content/transacional.xlsx')
transacional.head()

   ID     default  default1  QtdaParcelas Atraso  ValorEmprestimo  QtdaPagas
0   1  Adimplente         0            19    Sim              665          6
1   2  Adimplente         0            33    Não              950         11
2   3  Adimplente         0            20    Não              700          6
3   4  Adimplente         0            21    Sim              735          7
4   5  Adimplente         0            18    Sim              630          6

In [48]:
#11 - Crie um arquivo chamado consolidado e faça uma união dos arquivos cadastral e Transacional através do Left join
consolidado = pd.merge(cadastral, transacional, on='ID')
consolidado.head()

   ID DataNascimento       Sexo  ...  Atraso  ValorEmprestimo  QtdaPagas
0   1     1952-02-03  Masculino  ...     Sim              665          6
1   1     1952-02-03  Masculino  ...     Sim              665          6
2   2     1958-05-23  Masculino  ...     Não              950         11
3   2     1958-05-23  Masculino  ...     Não              950         11
4   3     1929-07-26   Feminino  ...     Não              700          6

[5 rows x 16 columns]

In [63]:
#12 - Crie uma variável comprometimento de renda usando as variáveis ValorEmprestimo e Salario.  Para isso utilize a expressão. (ValorEmprestimo / salario)*100
consolidado['Compr_Renda'] = (consolidado['ValorEmprestimo']/consolidado['salario'])/100
consolidado.head()

   ID DataNascimento       Sexo  ...  ValorEmprestimo  QtdaPagas  Compr_Renda
0   1     1952-02-03  Masculino  ...              665          6     0.001167
1   1     1952-02-03  Masculino  ...              665          6     0.001167
2   2     1958-05-23  Masculino  ...              950         11     0.002363
3   2     1958-05-23  Masculino  ...              950         11     0.002363
4   3     1929-07-26   Feminino  ...              700          6     0.003263

[5 rows x 17 columns]

In [57]:
#13 - Tire uma frequência separadamente das variáveis Sexo e default. Quantos Homens , Mulheres, Adimplente e Inadimplente possui. Os valores precisam ser mostrados separadamente.
consolidado['Sexo'].value_counts()

Masculino    514
Feminino     432
Name: Sexo, dtype: int64

In [59]:
#13 - Tire uma frequência separadamente das variáveis Sexo e default. Quantos Homens , Mulheres, Adimplente e Inadimplente possui. Os valores precisam ser mostrados separadamente.
consolidado['default'].value_counts()

Inadimplente    686
Adimplente      260
Name: default, dtype: int64

In [64]:
#14 - Faça uma estatística Bivariada utilizando a função CrossTable ente Sexo e default
pd.crosstab(consolidado.Sexo,consolidado.default)

default    Adimplente  Inadimplente
Sexo
Feminino           98           334
Masculino         162           352

In [65]:
#15 - Faça um modelo regressão logística e apresente o resultado

In [106]:
x = consolidado[['TempodeServiço','NumerodeFilhos','TempodeResidencia','salario','QtdaParcelas','ValorEmprestimo','QtdaPagas','Compr_Renda']]
x.head()

   TempodeServiço  NumerodeFilhos  ...  QtdaPagas  Compr_Renda
0              98               0  ...          6     0.001167
1              98               0  ...          6     0.001167
2              98               0  ...         11     0.002363
3              98               0  ...         11     0.002363
4              98               0  ...          6     0.003263

[5 rows x 8 columns]

In [107]:
x = sm.add_constant(x)
x.head()

   const  TempodeServiço  ...  QtdaPagas  Compr_Renda
0    1.0              98  ...          6     0.001167
1    1.0              98  ...          6     0.001167
2    1.0              98  ...         11     0.002363
3    1.0              98  ...         11     0.002363
4    1.0              98  ...          6     0.003263

[5 rows x 9 columns]

In [108]:
y = consolidado['default1']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: default1, dtype: int64

In [109]:
logistico = sm.Logit(y,x)

In [105]:
ajuste = logistico.fit()

Warning: Maximum number of iterations has been exceeded.
         Current function value: inf
         Iterations: 35

/usr/local/lib/python3.6/dist-packages/statsmodels/discrete/discrete_model.py:1736: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/usr/local/lib/python3.6/dist-packages/statsmodels/discrete/discrete_model.py:1789: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))

LinAlgError: ignored

In [98]:
ajuste.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               default1   No. Observations:                  946
Model:                          Logit   Df Residuals:                      937
Method:                           MLE   Df Model:                            8
Date:                Tue, 27 Oct 2020   Pseudo R-squ.:                  0.9766
Time:                        02:12:10   Log-Likelihood:                -12.996
converged:                      False   LL-Null:                       -556.26
Covariance Type:            nonrobust   LLR p-value:                3.104e-229
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const               229.2877        nan        nan        nan         nan         nan
TempodeServiço       -2.5705        nan        nan        nan         nan         nan
NumerodeFilhos        0.0653        nan        nan        nan         nan         nan
TempodeResidencia    -0.0322        nan        nan        nan         nan         nan
salario              -0.0006        nan        nan        nan         nan         nan
QtdaParcelas        -54.3001        nan        nan        nan         nan         nan
ValorEmprestimo       1.5524        nan        nan        nan         nan         nan
QtdaPagas             0.1812        nan        nan        nan         nan         nan
Compr_Renda           0.4546        nan        nan        nan         nan         nan
=====================================================================================

Possibly complete quasi-separation: A fraction 0.81 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""